body {
  background-color: #010a24;
}

.app-wrap.main {
  width: 100%;
  max-width: 2000px;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.app-wrap.main .app-container {
  width: 100%;
}
.app-wrap.main .app-container .nav {
  position: absolute;
  text-align: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 120px;
  height: 220px;
  left: 10px;
  top: 100px;
  z-index: 10;
}
.app-wrap.main .app-container .nav .items {
  padding: 50px 0;
  box-sizing: border-box;
}
.app-wrap.main .app-container .nav .items .item {
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: 1px rgba(10, 92, 112, 0.37) solid;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.app-wrap.main .app-container .nav .items .item:hover {
  background-color: rgba(255, 255, 255, 0.418);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.app-wrap.main .app-container .nav .items .item a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.app-wrap.main .app-container .music-btn {
  position: absolute;
  left: 30px;
  top: 350px;
  color: rgba(255, 255, 255, 0.808);
  font-size: 40px;
  z-index: 10;
  cursor: pointer;
}
.app-wrap.main .app-container .app-content {
  width: 100%;
  height: 700px;
  margin: auto;
  background-color: black;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.603);
}
.app-wrap.main .app-container .app-content .frame {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}
.app-wrap.main .app-container .app-content .frame::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom: 1px #575757 solid;
  box-shadow: 0px 10px 50px rgba(255, 255, 255, 0.377);
  background-color: rgba(0, 0, 0, 0.342);
}
.app-wrap.main .app-container .app-content .frame video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app-wrap.main .app-container .pic .people img {
  position: absolute;
  top: 450px;
  height: 40%;
}